<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.rahul_lohra.redditstar">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.Initializer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dummy.DummyMainActivity">
            <activity
                android:name=".util.DashboardActivity"
                android:label="@string/title_activity_dashboard"
                android:theme="@style/AppTheme.NoActionBar">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
        </activity>
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.DetailActivity" />
        <activity
            android:name=".dummy.DummyDashboardActivity"
            android:label="@string/home" />
        <activity
            android:name=".dummy.DummyDetailActivity"
            android:label="@string/detail_reddit" />
        <activity
            android:name=".dummy.NavActivity"
            android:label="@string/title_activity_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/reddit_login"
            android:theme="@style/AppTheme.NoToolBar" />

        <service
            android:name=".service.GetNewTokenService"
            android:exported="false" />
        <service
            android:name=".service.GetUserCredentialsService"
            android:exported="false" />

        <!-- Generated Provider -->
        <provider
            android:name=".storage.generated.MyProvider"
            android:authorities="com.android.rahul_lohra.redditstar.storage.MyProvider"
            android:exported="false"
            android:syncable="true" />

        <!-- Authenticator -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service android:name=".service.GetSubscribedSubredditsService" />
        <service
            android:name=".service.GetDashboardSubredditsService"
            android:exported="false"></service>
        <service
            android:name=".service.GetFrontPageService"
            android:exported="false"></service>
    </application>

</manifest>